
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f4f8;
  padding: 40px;
}

h1 {
  font-size: 2rem;
  color: #333;
}

canvas {
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #111827;
}
